{% extends 'base.html' %}
{% block title %} Notes {% endblock title %}

{% block content %}
{% if notes %}
  <div class="row" style="margin-top: 10px;">
  {% for note in notes %}
    <div class="column mx-5%">
      <div class="card" style="width: 18rem; margin-left: 40%;">
      <div class="card-body">
        <h5 class="card-title">{{note.title}}</h5>
        <p class="card-text">{{note.description}}</p>
        <a class="btn btn-primary btn-sm" href="{% url 'delete' note_id=note.id %}"> delete</a>
        <a class="btn btn-primary btn-sm" href="{% url 'edit' note_id=note.id %}"> edit</a>
      </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% else %}
  <h3 style="margin-top: 50px;" text-align='center'> Notes list is empty</h3>
{% endif %}
<a class="btn btn-primary btn-lg" href="{% url 'add_notes' %}">Add Notes</a>    
{% endblock content %}